body {
  background-color: #a6b2c4;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: auto;
}
h1 {
  background-color: #ebeef4;
  font-family: cursive;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  padding: 40px;
}
.column {
  width: 20%;
  height: 610px;
  float: left;
}
.column h2 {
  text-align: center;
  padding-top: 10px;
}
.column img {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.column p {
  padding: 15px;
  font-size: 20px;
  line-height: 25px;
}
.hades{
  background-color: #f2ebba;
  margin: 10px;
  border: 3px solid white;
}
.kronos{
  background-color: #bdf2ba;
  margin: 10px;
  border: 3px solid white;
}
.aphro{
  background-color: #bae4f2;
  margin: 10px;
  border: 3px solid white;
}
.zeus{
  background-color: #f2baba;
  margin: 10px;
  border: 3px solid white;
  /*height: 610px;*/
}

@media screen and (max-width: 1000px){
  .column h2 {
    font-size: 20px;
  }
  .column p {
    font-size: 16px;
  }
  .column img {
    margin-left: 10px;
    padding: 5px
  }
  .column {
    height: 500px;
  }
}

@media screen and (max-width: 480px){
  .column {
    height: 300px;
  }
  .column h2 {
    font-size: 12px;
  }
  .column p {
    font-size: 9px;
  }
  .column img {
    margin-left: 0px;
    padding: 0px
  }

}
