.column {
  width: 23%;
  float: left;
}
h1{
  text-align: center;
}
.column h2 {
  text-align: center;
}
.column img {
  margin-left: 20px;
  width: 75%;
  float: center;
}
.hades{
  background-color: #f2ebba;
}
.kronos{
    background-color: #bdf2ba;
}
.aphro{
    background-color: #bae4f2;
}
.zeus{
    background-color: #f2baba;
}
